body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #e2e1e0;
}

form {
  width: 700px;
  margin: 5% auto;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 30px;
  border-radius: 5px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 1.8em;
}

fieldset {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 10px;
  margin-right: 0;
  padding: 10px 0 20px 0;
  border: none;
  border-bottom: 1px solid #dadada;
}

legend {
  width: max-content;
  box-sizing: border-box;
  line-height: 30px; /* высота legend = высоте input-ов */
  padding-right: 10px;
  font-weight: 600;
  float: left;
}

input, 
select {
  box-sizing: border-box;
  padding: 3px 10px;
  line-height: 16px;
  cursor: pointer;
  outline: none;
}

input:focus,
select:focus {
  outline: 1px solid orangered;
}

label {
  margin-right: 20px;
  cursor: pointer;
}

label:hover {
  text-decoration: underline;
}

#rangevalue1 {
  display: inline-block;
  height: 30px;
  margin: 0;
  line-height: 30px;
}

fieldset ul {
  width: 100%; 
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
}

.range {
  width: 200px;
  display: block;
  background-color: green;
}

#education {
  width: 100%;
}

#education > caption {
  text-align: left;
  line-height: 40px;
  font-weight: 600;
}

#education th,
#education td {
  text-align: left;
  border: none;
  font-weight: normal;
  line-height: 25px;
}

#education .col-1 { 
  width: 50%; 
}

#education input[type="date"] { 
  width: 160px; 
}

#education input[type="text"] {
  width: 100%;
  height: 30px;
}

button {
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#header {
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#header div {
  background-color: pink;
}

/* переработать */
header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  background-color:rgb(253, 247, 247);
  margin-bottom: 30px;
}

#photo {
  position: relative;
  width: 150px;
  height: 150px;
  padding: auto;
  box-sizing: border-box;
  background-color: #fff;
}

#photo input + label {
  content: url('add-photo.png');
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 35px;
  margin: 0;
  color: black;
  background-color: white;
  text-align: center;
  outline: 1px solid gray;
}

#photo input:focus + label, 
#photo input + label:hover {
  background-color: #dadada;
  cursor: pointer;
}

ul {
  width: calc(100% - 160px);
  margin: 0;
  padding-inline-start: 10px;
  list-style-type: none;
}

header legend {
  width: 70px;
  text-align: right;
}

header input {
  width: calc(100% - 70px);
  margin-bottom: 10px;
}